<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">ulubione</div>
    </ons-toolbar>
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <div class="button-bar" style="width:90%;margin:7px 5%; ">
                <div class="button-bar__item" ng-click="changeToParking()">
                    <input type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">Parking</div>
                </div>

                <div class="button-bar__item" ng-click="changeToCars()">
                    <input type="radio" name="navi-segment-a">
                    <div class="button-bar__button">Samochody</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="task" ng-repeat="element in favsList">
            <div class="listElement borderBottomBlack" ng-if="element.offer_car&&favView=='cars'" ng-click="showCar(element.offer_car.id)">

                <div class="arrowRight"></div>
                <div class="clear"></div>
                <strong>{{element.offer_car.brand}} {{element.offer_car.model}}</strong>
                <br> {{element.offer_car.address_street}}
                <br> {{element.offer_car.address_city}} {{element.offer_car.address_postcode}}
            </div>
            <div class="listElement borderBottomBlack" ng-if="element.offer_place&&favView=='parking'" ng-click="showPlace(element.offer_place.id)">
                <div class="arrowRight"></div>
                <div class="clear"></div>
                <strong>{{element.offer_place.name}}</strong>
                <br> {{element.offer_place.address_street}}
                <br> {{element.offer_place.address_city}} {{element.offer_place.address_postcode}}
            </div>
        </div>
    </div>
</ons-page>