<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=high-dpi, user-scalable=0" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.js'></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css" />
    <link rel="stylesheet" href="css/index.css" />
    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
    <!-- --------------- App init --------------- -->
    <script src="js/app.js"></script>
    <title>Parking Crowd</title>
</head>

<body ng-controller="AppController">

    <script src="cordova.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.datetimepicker.js"></script>

    <script src="js/jquery.easypiechart.js"></script>
    <script src="scripts/index.js"></script>

    <div class="spinner" id="spinner" style="display:none;">
        <div id="spinnerOk" style="display:none;"><i class="ion-checkmark-round"></i>
        </div>
        <div id="spinnerIcon"></div>
    </div>

    <div id="activeTimer" ng-if="rentVisible&&rent" ng-click="rentDetails()">
        <strong ng-if="rentTime.type=='place'">{{lang.in_progress}}:</strong>
        <strong ng-if="rentTime.type=='car'">{{lang.parking_service_text}}:</strong>
        <br>{{rentTime.hours}}:<span ng-if="rentTime.min<10">0</span>{{rentTime.min}}:<span ng-if="rentTime.sec<10">0</span>{{rentTime.sec}} - {{rentTime.price | number:2}}zł
        <img src="css/alertarrow.png" style="width:25px; height:16px; float:right; margin-top:-7px;" />
    </div>


    <ons-navigator var="navi">
        <ons-page style="background-color:#E60E2A !Important;" class="loginBg">
            <form class="loginStyle">
                <div class="bigLogo"></div>
                <input type="email" id="loginEmail" class="loginInputStyle" placeholder="e-mail" />
                <input type="password" id="loginPassword" class="loginInputStyle" placeholder="{{lang.password_text}}" />
                <a class="submitButton" ng-click="loginUser()">{{lang.login_text}}</a>
                <br/>
                <span class="lub">{{lang.or_text}}</span>
                <a class="submitButton alternative" onclick="navi.pushPage('register.html', { animation : 'slide' } )">{{lang.create_account_Text}}</a>
                <br/>
                <a class="passwordReset" onclick="navi.pushPage('recovery.html', { animation : 'slide' } )">{{lang.reset_text}}</a>
            </form>
        </ons-page>
    </ons-navigator>


    <ons-template id="register.html">

        <ons-page class="loginBg">
            <ons-toolbar modifier="transparent">
                <div class="left">
                    <ons-toolbar-button onclick="navi.popPage();">
                        <ons-icon icon="ion-chevron-left" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <form class="loginStyle">
                <div class="bigLogo logoMargin"></div>
                <input type="text" id="newUserName" class="loginInputStyle" placeholder="{{lang.username_text}}" />
                <input type="email" id="newUserEmail" class="loginInputStyle" placeholder="e-mail" />
                <input type="password" id="newUserPassword" class="loginInputStyle" placeholder="{{lang.password_text}}" />
                <a class="submitButton" ng-click="registerUser()">{{lang.register_and_login_text}}</a>
                <br/>
            </form>
        </ons-page>
    </ons-template>


    <ons-template id="recovery.html">
        <ons-page class="loginBg">
            <ons-toolbar modifier="transparent">
                <div class="left">
                    <ons-toolbar-button onclick="navi.popPage();">
                        <ons-icon icon="ion-chevron-left" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <form class="loginStyle">
                <div class="bigLogo logoMargin"></div>

                <p class="recover">{{lang.recovery_text}}
                    <br/>{{lang.recovery_text2}}</p>
                <br/>
                <input type="text" id="recoverUser" class="loginInputStyle" placeholder="{{lang.username_text}}" />
                <input type="email" id="recoverEmail" class="loginInputStyle" placeholder="e-mail" />
                <a class="submitButton" ng-click="recoverPassword()">{{lang.reset_text}}</a>
                <br/>
            </form>
        </ons-page>
    </ons-template>


    <ons-template id="home.html">
        <ons-page>
            <ons-sliding-menu main-page="dash.html" menu-page="menu.html" max-slide-distance="260px" type="push" var="menu">
            </ons-sliding-menu>
        </ons-page>
    </ons-template>

    <ons-template id="dash.html">
        <ons-navigator var="naviDash">
            <ons-page>
                <ons-toolbar>
                    <div class="left">
                        <ons-toolbar-button ng-click="menu.toggleMenu()">
                            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                    <div class="center">Parking Crowd</div>
                    <div class="right">
                        <!--<ons-toolbar-button ng-click="openNotifications()">
                            <ons-icon icon="ion-grid" size="28px" fixed-width="false"></ons-icon>
                        </ons-toolbar-button>-->
                    </div>
                </ons-toolbar>
                <div class="pageHolder" ng-init="updateLocation()">
                    <div>
                        <div style="height:100vh">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                                <ui-gmap-markers models="map.markers" coords="'self'" modelsbyref="false" idkey="model.id" click="markerDetails" icon="'mapIcon'" />
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
            </ons-page>
        </ons-navigator>
    </ons-template>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent">
                <div class="right">
                    <ons-toolbar-button class="menu-closeMenu" ng-click="menu.closeMenu()">
                        <img src="css/whiteclose.png" style="float:right; height:22px; width:22px; margin-top:10px; margin-right:20px;" />
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div class="greenSection">
                <div class="avatar" style="background-image:url('http://parkingcrowd.dev.thickmug.com{{user.image_url}}');"></div>
                <div class="name">{{user.first_name}} {{user.last_name}}</div>
                <div class="portfelInfo">{{lang.money_in_wallet_text}} <strong>{{user.balance | number:2}}zł</strong>
                </div>
                <div class="iconsMenu">
                    <div class="menuNotifations" ng-click="openNotifications()"></div>
                    <div class="menuWallet" ng-click="openWallet()"></div>
                    <div class="menuSettings" ng-click="openSettings()"></div>
                    <div class="clear"></div>
                </div>
            </div>
            <ons-list class="bottom-menu-list">
                <ons-list-item class="bottom-menu-item" ng-click="openHome()">
                    <div class="menuIcon home"></div> {{lang.home_screen}}
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="openReservations()">
                    <div class="menuIcon yourQuests"></div> {{lang.my_reservation}}
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="openHistory()">
                    <div class="menuIcon newQuest"></div> {{lang.title_histoy}}
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="openFavs()">
                    <div class="menuIcon stats"></div> {{lang.title_favourites}}
                </ons-list-item>
            </ons-list>
            <a class="submitButton logOut" ng-click="logOut()">{{lang.logout_button_Text}}</a>
        </ons-page>
    </ons-template>
</body>

</html>