<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="naviDash.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">detale oferty</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="ion-ios-heart-outline" size="28px" fixed-width="false" ng-if="!currentPlace.favourite" ng-click="addPlaceToFav(currentPlace.id)"></ons-icon>
                <ons-icon icon="ion-ios-heart" size="28px" fixed-width="false" ng-if="currentPlace.favourite" ng-click="removePlaceFromFav(currentPlace.id)"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <div class="button-bar" style="width:90%;margin:7px 5%; ">
                <div class="button-bar__item" ng-click="changeToMap()">
                    <input type="radio" name="navi-segment-a" checked>
                    <div class="button-bar__button">Mapa</div>
                </div>

                <div class="button-bar__item" ng-click="changeToPhotos()">
                    <input type="radio" name="navi-segment-a">
                    <div class="button-bar__button">Zdjecia</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="currentPlace.view=='map'">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{currentPlace.latitude}},{{currentPlace.longitude}}&zoom=15&scale=2&size=375x200&maptype=roadmap&key=AIzaSyAtxSIxBFohxnPNp2BYs9ysrHY_cKJxblA&format=png&visual_refresh=true&markers=icon:http://dl.dropboxusercontent.com/u/28981503/mappoint.png%7Cshadow:false%7C{{currentPlace.latitude}},{{currentPlace.longitude}}" class="img-responsive" />
        </div>
        <div ng-if="currentPlace.view=='photos'">
            <!-- NOTE:slider zdjec -->
            <ons-carousel style="width: 100%; height: 200px" auto-refresh swipeable auto-scroll>
                <ons-carousel-item ng-repeat="image in currentPlace.images">
                    <img src="http://parkingcrowd.dev.thickmug.com{{image.image_url}}" class="img-responsive" />
                </ons-carousel-item>
            </ons-carousel>
        </div>
        <div class="doubleButtons" ng-if="!currentPlace.booked_by">
            <div class="col-1-2 paddingR5">
                <a class="submitButton" ng-click="parkNow(currentPlace.id)">Zaparkuj teraz <span class="whiteBadge">{{currentPlace.price_per_hour | number:2}}zł/h</span></a>
            </div>
            <div class="col-1-2 paddingL5">
                <a class="submitButton alternative" ng-click="reservePlace(currentPlace.id)">Zarezerwuj</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="buttonHolder" ng-if="currentPlace.booked_by">
            <a class="submitButton alternative" ng-click="reservePlace(currentPlace.id)">Zarezerwuj</a>
            <div class="clear"></div>
        </div>
        <div class="adresModule">
            <strong>{{currentPlace.name}}</strong>
            <br/>
            <div class="starFull" ng-if="currentPlace.rating>0"></div>
            <div class="starFull" ng-if="currentPlace.rating>1"></div>
            <div class="starFull" ng-if="currentPlace.rating>2"></div>
            <div class="starFull" ng-if="currentPlace.rating>3"></div>
            <div class="starFull" ng-if="currentPlace.rating>4"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<5"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<4"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<3"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<2"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<1"></div>
            <div class="clear"></div>
            {{currentPlace.address_street}}
            <br/> {{currentPlace.address_postcode}} {{currentPlace.address_city}}
        </div>
        <div class="zajetoscModule borderTopBlack">
            Zajętość
            <div class="clear"></div>
            <div class="bars">
                <div class="bar" style="width:100%;" data-time="{{currentPlace.now | date: 'HH:mm'}}"></div>
                <div class="clear"></div>
            </div>
            <div class="scale">
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
                <div class="scaleElement"></div>
            </div>
            <div class="clear"></div>
            <div class="col-1-2 noPadding">{{currentPlace.now | date: 'HH:mm'}}</div>
            <div class="col-1-2 textRight noPadding">{{currentPlace.later | date: 'HH:mm'}}</div>
        </div>
        <ul class="list">
            <li class="list__header">
                Udogodnienia
            </li>
            <li class="list__item">
                <div class="inputLabel">
                    Strzeżony 24h
                </div>
                <div class="inputHolder checkbox">
                    <input type="checkbox" checked="">
                    <div class="checkbox__checkmark checkbox--list-item__checkmark list-check" ng-if="currentPlace.prop_guarded==1"></div>

                </div>
            </li>
            <li class="list__item">
                <div class="inputLabel">
                    Monitoring
                </div>
                <div class="inputHolder checkbox">
                    <input type="checkbox" checked="">
                    <div class="checkbox__checkmark checkbox--list-item__checkmark list-check" ng-if="currentPlace.prop_monitored==1"></div>

                </div>
            </li>
            <li class="list__item">
                <div class="inputLabel">
                    Zadaszony
                </div>
                <div class="inputHolder checkbox">
                    <input type="checkbox" checked="">
                    <div class="checkbox__checkmark checkbox--list-item__checkmark list-check" ng-if="currentPlace.prop_covered==1"></div>

                </div>
            </li>
            <li class="list__item">
                <div class="inputLabel">
                    Dla autokarów
                </div>
                <div class="inputHolder checkbox">
                    <input type="checkbox" checked="">
                    <div class="checkbox__checkmark checkbox--list-item__checkmark list-check" ng-if="currentPlace.prop_bus==1"></div>

                </div>
            </li>
            <li class="list__item">
                Informacje dodatkowe:
                <br> <span style="line-height:20px; display: block; margin-bottom: 15px;">{{currentPlace.description}}</span>
            </li>
        </ul>
        <div class="wynajmujacyModule">
            <div class="avatar" style="background-image:url('http://parkingcrowd.dev.thickmug.com{{currentPlace.user.image_url}}');"></div>
            <strong>{{currentPlace.user.first_name}} {{currentPlace.user.last_name}}</strong>
            <br>
            <div ng-if="currentPlace.user.first_offer_created_at.length>4">
                Wynajmuje od: <span class="green">{{currentPlace.user.first_offer_created_at | date: 'dd.MM.yyyy'}}</span></div>
            <br>
            <br>{{currentPlace.user.about}}
        </div>
    </div>
</ons-page>