<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="naviDash.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">daredot</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="contenHolder" ng-init="updateLocation()">
        <h3>{{questDetailsData.name}}</h3>
        <p class="des">{{questDetailsData.description}}</p>
    </div>
    <!-- NOTE: Pokaż ikony drużyn - moduł -->
    <div class="contenHolder" ng-if="userIn() && questDetailsData.multiplayer==0">
        <div class="box13 whiteText textLeft">
            <div class="displayInlineBlock">
                <div class="doneChart white">
                    <div class="bar" style="height:{{detailsMyPoints/questDetailsData.tasks.length*100}}%"></div>
                </div>
                <div class="boxText">{{detailsMyPoints}}/{{questDetailsData.tasks.length}}</div>
            </div>
        </div>
        <div class="box13 whiteText textCenter">
            <div class="displayInlineBlock">
                <div class="playersIcon white"></div>
                <div class="boxText">0{{questDetailsData.users.length}}</div>
            </div>
        </div>
        <div class="box13 whiteText textRight">
            <div class="displayInlineBlock">
                <div class="locationIcon white"></div>
                <div class="boxText">#0{{detailsMyLocation}}</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contenHolder" ng-if="!userIn() && questDetailsData.multiplayer==0">
        <div class="box13 whiteText textLeft margin16p">
            <div class="displayInlineBlock">
                <div class="pointsIcon white"></div>
                <div class="boxText">0{{questDetailsData.tasks.length}}</div>
            </div>
        </div>
        <div class="box13 whiteText textRight">
            <div class="displayInlineBlock">
                <div class="playersIcon white"></div>
                <div class="boxText">0{{questDetailsData.users.length}}</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contenHolder" ng-if="!userIn() && questDetailsData.multiplayer==1">
        <div class="box13 whiteText textLeft">
            <div class="displayInlineBlock">
                <div class="pointsIcon white"></div>
                <div class="boxText">0{{questDetailsData.tasks.length}}</div>
            </div>
        </div>
        <div class="box13 whiteText textCenter">
            <div class="displayInlineBlock">
                <div class="playersIcon white"></div>
                <div class="boxText">0{{detailsWhiteTeam}}</div>
            </div>
        </div>
        <div class="box13 whiteText textRight">
            <div class="displayInlineBlock">
                <div class="playersIcon black"></div>
                <div class="boxText">0{{detailsBlackTeam}}</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- NOTE: Pokaż wyniki drużyn - moduł -->
    <div class="contenHolder versus" ng-if="userIn() && questDetailsData.multiplayer==1">
        <div class="vs">vs</div>
        <div class="box12">
            <div class="circleHolder">
                {{questDetailsData.teams_stats.white}}
            </div>
            <div class="clear"></div>
            biali
        </div>
        <div class="box12">
            <div class="circleHolder black">
                {{questDetailsData.teams_stats.black}}
            </div>
            <div class="clear"></div>
            czarni
        </div>
        <div class="clear"></div>
    </div>
    <!-- NOTE: Pokaż listę graczy - moduł -->
    <div class="contenHolder" ng-if="userIn() && questDetailsData.multiplayer==1">
        <a class="submitButton" ng-click="playersList(questDetailsData.id)">pokaż listę graczy</a>
    </div>
    <!-- NOTE: Pokaż ranking - moduł -->
    <div class="contenHolder" ng-if="userIn() && questDetailsData.multiplayer==0">
        <a class="submitButton" ng-click="playersRanking(questDetailsData.id)">pokaż ranking graczy</a>
    </div>
    <!-- NOTE: Pokaż liste zadan multiplayer/przydzielone/aktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="userIn() && questDetailsData.multiplayer==1 && questActive()">
        <div class="task" ng-repeat="task in questDetailsData.teams_stats.tasks" ng-click="taskDetails(task.id)">
            <div class="multiplayerTask">
                <div class="whiteTeamPoints" ng-if="task.white==0">{{task.difficulty}}</div>
                <div class="whiteTeamPoints active" ng-if="task.white!=0">{{task.difficulty}}</div>
                <div class="blackTeamPoints" ng-if="task.black==0">{{task.difficulty}}</div>
                <div class="blackTeamPoints active" ng-if="task.black!=0">{{task.difficulty}}</div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <!-- NOTE: Pokaż liste zadan multiplayer/przydzielone/aktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="userIn() && questDetailsData.multiplayer==1 && !questActive()">
        <div class="task" ng-repeat="task in questDetailsData.teams_stats.tasks">
            <div class="multiplayerTask">
                <div class="whiteTeamPoints" ng-if="task.white==0">{{task.difficulty}}</div>
                <div class="whiteTeamPoints active" ng-if="task.white!=0">{{task.difficulty}}</div>
                <div class="blackTeamPoints" ng-if="task.black==0">{{task.difficulty}}</div>
                <div class="blackTeamPoints active" ng-if="task.black!=0">{{task.difficulty}}</div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <!-- NOTE: Pokaż liste zadan multiplayer/nieprzydzielone/aktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="!userIn() && questDetailsData.multiplayer==1&& questActive()">
        <div class="task" ng-repeat="task in questDetailsData.teams_stats.tasks">
            <div class="multiplayerTask">
                <div class="type type{{task.type}}"></div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <!-- NOTE: Pokaż liste zadan multiplayer/nieprzydzielone/aktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="!userIn() && questDetailsData.multiplayer==0&& questActive()">
        <div class="task" ng-repeat="task in questDetailsData.tasks">
            <div class="multiplayerTask">
                <div class="type type{{task.type.id}}"></div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <!-- NOTE: Pokaż liste zadan single/przydzielone/aktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="userIn() && questDetailsData.multiplayer==0 && questActive()">
        <div class="task" ng-repeat="task in questDetailsData.tasks" ng-click="taskDetails(task.id)">
            <div class="multiplayerTask">
                <div class="arrow"></div>
                <div class="whiteTeamPoints" ng-if="task.verified==0">{{task.difficulty}}</div>
                <div class="whiteTeamPoints active" ng-if="task.verified!=0">{{task.difficulty}}</div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <!-- NOTE: Pokaż liste zadan single/przydzielone/nieaktywne -->
    <div class="contenHolder whiteFrame noContentPaddings" ng-if="userIn() && questDetailsData.multiplayer==0 && !questActive()">
        <div class="task" ng-repeat="task in questDetailsData.tasks">
            <div class="multiplayerTask">
                <div class="whiteTeamPoints" ng-if="task.verified==0">{{task.difficulty}}</div>
                <div class="whiteTeamPoints active" ng-if="task.verified!=0">{{task.difficulty}}</div>
                <span class="title">{{task.name}}</span>
            </div>
        </div>
    </div>
    <div class="contenHolder  noContentPaddings" ng-if="!userIn() && questDetailsData.multiplayer==0 && questActive()">
        <a class="submitButton" ng-click="joinQuest(questDetailsData.id,'none')">dołącz do zestawu zadań</a>
    </div>
    <div class="contenHolder  noContentPaddings" ng-if="!userIn() && questDetailsData.multiplayer==1 && questActive()">
        <a class="submitButton white" ng-click="joinQuest(questDetailsData.id,'white')">dołącz do białej drużyny</a>
        <a class="submitButton" ng-click="joinQuest(questDetailsData.id,'black')">dołącz do czarnej drużyny</a>
    </div>
    <div class="clear"></div>
</ons-page>