<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="naviDash.popPage()">
                <ons-icon icon="ion-ios-arrow-back" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">{{lang.reserve_parking_title}}</div>
    </ons-toolbar>

    <div>

        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{currentPlace.latitude}},{{currentPlace.longitude}}&zoom=15&scale=2&size=375x200&maptype=roadmap&key=AIzaSyAtxSIxBFohxnPNp2BYs9ysrHY_cKJxblA&format=png&visual_refresh=true&markers=icon:http://dl.dropboxusercontent.com/u/28981503/mappoint.png%7Cshadow:false%7C{{currentPlace.latitude}},{{currentPlace.longitude}}" class="img-responsive" />




        <div class="adresModule">
            <strong>{{currentPlace.name}}</strong>
            <br/>
            <div class="starFull" ng-if="currentPlace.rating>0"></div>
            <div class="starFull" ng-if="currentPlace.rating>1"></div>
            <div class="starFull" ng-if="currentPlace.rating>2"></div>
            <div class="starFull" ng-if="currentPlace.rating>3"></div>
            <div class="starFull" ng-if="currentPlace.rating>4"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<5"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<4"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<3"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<2"></div>
            <div class="starEmpty" ng-if="currentPlace.rating<1"></div>
            <div class="clear"></div>
            {{currentPlace.address_street}}
            <br/> {{currentPlace.address_postcode}} {{currentPlace.address_city}}
        </div>

        <ul class="list">
            <li class="list__item">
                <div class="inputLabel">
                    {{lang.from_Text}}
                </div>
                <div class="inputHolder">
                    <input type="datetime-local" class="text-input text-input--transparent text-right" style="width:100%; margin-top:4px;" placeholder="{{lang.from_Text}}" id="dataod" ng-model="reserveFrom" ng-init="reserveFrom">
                </div>
            </li>
            <li class="list__item">
                <div class="inputLabel">
                    {{lang.to_text}}
                </div>
                <div class="inputHolder">
                    <input type="datetime-local" class="text-input text-input--transparent text-right" style="width:100%; margin-top:4px;" placeholder="{{lang.to_text}}" id="datado" ng-model="reserveTo" ng-init="reserveTo">
                </div>
            </li>
        </ul>
        <div ng-if="currentPlace.reservations.length>0">
            <div class="alertModule">
                {{lang.parking_not_available_at_text}}
            </div>
            <ul class="list noBorderTop">
                <li class="list__item" ng-repeat="term in currentPlace.reservations">
                    {{lang.from_Text}} {{term.start_date | date: 'dd.MM.yyyy HH:mm'}} {{lang.to_text}} {{term.end_date | date: 'dd.MM.yyyy HH:mm'}}
                </li>
            </ul>
        </div>

        <div class="buttonHolder">
            <a class="submitButton alternative" ng-click="reservePlaceConfirm()">{{lang.reserve_text}}</a>
            <div class="clear"></div>
        </div>
    </div>
</ons-page>