<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Ustawienia</div>
        <div class="right">

        </div>
    </ons-toolbar>

    <div>
        <br>
        <br>
        <div id="avatarPreview" class="avatar" style="background-image:url('http://parkingcrowd.dev.thickmug.com{{user.image_url}}');"></div>
        <div class="buttonHolder">
            <a class="submitButton " ng-click="changeAvatar()">Zmień awatar</a></div>
    </div>
    <div class="clear"></div>
    <div>
        <ul class="list noBorderBottom">

            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">E-mail</ons-col>
                    <ons-col class="col ons-col-inner">
                        <input type="text" class="text-input text-input--transparent inputWithLabel text-right" placeholder="E-mail" ng-model="user.email" ng-init="user.email">
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Telefon</ons-col>
                    <ons-col class="col ons-col-inner">
                        <input type="tel" class="text-input text-input--transparent inputWithLabel text-right" placeholder="E-mail" ng-model="user.phone_number" ng-init="user.phone_number">
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item">
                O sobie:
                <textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Opis o sobie" ng-model="user.about" ng-init="user.about"></textarea>
            </li>
        </ul>

        <ul class="list">
            <li class="list__header">
                Ustawienia wyszukiwania
            </li>
            <li class="list__item">
                <span style="line-height:20px; display: block; margin-bottom: 15px;">Zaznacz którę opcję muszą być spełnione podczas wyszukiwania prarkingu:</span>
            </li>
            <li class="list__item">
                Strzeżony
                <label class="switch switch--list-item">
                    <input id="prop0" type="checkbox" class="switch__input" checked ng-if="user.settings.places[0].prop_guarded">
                    <input id="prop0" type="checkbox" class="switch__input" ng-if="!user.settings.places[0].prop_guarded">
                    <div class="switch__toggle"></div>
                </label>
            </li>
            <li class="list__item">
                Monitorowany
                <label class="switch switch--list-item">
                    <input id="prop1" type="checkbox" class="switch__input" checked ng-if="user.settings.places[1].prop_monitored">
                    <input id="prop1" type="checkbox" class="switch__input" ng-if="!user.settings.places[1].prop_monitored">
                    <div class="switch__toggle"></div>
                </label>
            </li>
            <li class="list__item">
                Zadaszony
                <label class="switch switch--list-item">
                    <input id="prop3" type="checkbox" class="switch__input" checked ng-if="user.settings.places[3].prop_covered">
                    <input id="prop3" type="checkbox" class="switch__input" ng-if="!user.settings.places[3].prop_covered">
                    <div class="switch__toggle"></div>
                </label>
            </li>
            <li class="list__item">
                Dla autokarów
                <label class="switch switch--list-item">
                    <input id="prop2" type="checkbox" class="switch__input" checked ng-if="user.settings.places[2].prop_bus">
                    <input id="prop2" type="checkbox" class="switch__input" ng-if="!user.settings.places[2].prop_bus">
                    <div class="switch__toggle"></div>
                </label>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="buttonHolder">
        <a class="submitButton alternative" ng-click="saveSettings()">Zapisz ustawienia</a>
    </div>
</ons-page>